.theme-light {
    --text: #222;
    --title-gradient-from: #26547C;
    --title-gradient-to: #333;
    --background: #FFF;
    --accent: #E01A4F;
    --icons-neutral: invert(0%);
  }

.theme-dark {
    --text: #FFF;
    --title-gradient-from: #FFF;
    --title-gradient-to: #DDD;
    --background: #222;
    --accent: #E01A4F;
    --icons-neutral: invert(100%) sepia(100%) saturate(0%) hue-rotate(259deg) brightness(112%) contrast(102%);
  }